<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card tab2-card">
                <div class="card-body">     
                    <div class="table-responsive profile-table">
                        <h4 style="font-weight: 600">Course Detail</h4>
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <td>Course Name:</td>
                                    <td>{{detailCourse.courseName}}</td>
                                </tr>

                                <tr>
                                    <td>Course Time:</td>
                                    <td>{{detailCourse.courseTime}}</td>
                                </tr>

                                <tr>
                                    <td>Description:</td>
                                    <td>{{detailCourse.description}}</td>
                                </tr>
                                            
                            </tbody>
                        </table>
                       
                        <a  class="btn btn-secondary mr-1 mb-3"  (click)="createLesson()" style="float: right;">Create Lesson</a>
                        <div class="table-responsive">
                            <ng2-smart-table 
                            [settings]="settings"
                            [source]="detailCourse.lessons"
                            (deleteConfirm)="onDeleteConfirm($event)"
                            ></ng2-smart-table>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>