<div class="course-detalis-reviews pt-15">
    <div class="course-detalis-reviews-tittle">
        <h3>Reviews</h3>
    </div>
    <div *ngFor="let comment of listComments">
        <div class="course-review-item mb-30">
            <div class="course-reviews-img">
                <a href="#"><img style="width: 60px; height: 60; border-radius: 50%; padding-top: auto;" [src]="comment.user.avatar"
                        alt="avatar not found"></a>
            </div>
            <div class="row">
            <div class="course-review-list"  style=" width: 100%; background-color: rgb(240, 234, 227); border-radius: 15px;padding-left:20px">
                <div >
                    <div style="font-size:30px ; padding-top: 15px; ">
                        <h4 style="margin-bottom:0 ;">{{comment.user.displayName}}</h4>
                    </div>
                    <span  style="margin-top:0 ;">{{comment.createdAt | date: 'mm:h - dd/MM/yyyy'}}</span>
                    <p style="float: left;">{{comment.content}}</p>
                </div>
                </div>
                <p *ngIf="comment.user.id == userCurrent.id || userCurrent.username == authorCourse" (click)="deleteComment(comment.id)">delete</p>
                </div>  
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="course-review-btn">
        <a id="show-review-box" class="edu-btn" href="javascript:void(0)" (click)=writeReview()>Write a
            Review</a>

        <div id="review-box" class="review-comment mt-45" [class.d-block]="writeReviewActive">
            <div class="comment-input-box mb-15">
                <form action="#" [formGroup]="formComment">
                    <div class="row">
                        <div class="col-xxl-12">
                            <textarea placeholder="Your review"
                                class="comment-input comment-textarea mb-20" formControlName ="comment"></textarea>
                        </div>
                        <div class="col-xxl-12">
                            <div class="comment-submit">
                                <button type="submit" class="edu-btn" (click)="postComment()">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>