<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Lesson Information</h5>
                </div>
                <div class="card-body">
                    <div *ngIf="!isUpdateInfo" class="tab-pane fade show active" id="top-profile" role="tabpanel"
                        aria-labelledby="top-profile-tab">
                        <div class="table-responsive profile-table">
                            <h4>General</h4>
                            <div class="form-group row" style="margin-top:30px">
                                <label for="validationCustom2" class="col-xl-3 col-md-4">
                                    Lesson Name:</label>
                                <td>{{infoLesson.name}}</td>
                            </div>

                            <div class="form-group row" style="margin-top:30px">
                                <label for="validationCustom1" class="col-xl-3 col-md-4">
                                    Description:</label>
                                <td>{{infoLesson.description}}</td>
                            </div>

                            <label style="margin-top:30px"> Content:</label>
                            <div [innerHTML]="infoLesson.content"
                                style="height: 100px;margin-top:20px;">

                            </div>
                        </div>
                        <button class="btn btn-secondary mr-1" style="margin-left: 35%; margin-top: 5%;"
                            (click)="goToUpdateInfo()">Go to update
                            lesson</button>
                    </div>

                    <div *ngIf="isUpdateInfo">
                        <form [formGroup]="detailsForm" class="needs-validation user-add" novalida="">
                            <h4>Update Lesson</h4>
                            <div class="form-group row">
                                <label for="validationCustom2" class="col-xl-3 col-md-4">
                                    Lesson Name </label>
                                <input class="form-control col-xl-8 col-md-7" formControlName="name"
                                    id="validationCustom0" name="name" type="text" required="">
                            </div>
                            <div class="form-group row">
                                <label for="validationCustom1" class="col-xl-3 col-md-4">
                                    Description</label>
                                <input class="form-control col-xl-8 col-md-7" formControlName="description"
                                    id="validationCustom1" name="description" type="text" required="">
                            </div>

                            <div>
                                <label> Content</label>
                                <angular-editor class="mb-3" id="editor1" formControlName="content"
                                    [config]="editorConfig" name="content"></angular-editor>
                            </div>

                            <div style="margin-top:5%; margin-left:35%">
                                <button class="btn btn-primary mr-1" (click)="updateInfo()">Submit</button>
                                <button class="btn btn-secondary mr-1" (click)="goToInfo()">Cancel</button>
                            </div>
                        </form>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->