<div class="course-sidebar-info" [class.content-hidden]="shopDurationActive">
    <h3 class="drop-btn" (click)="shopDuration()">Lesson</h3>
    <ul>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="radio" (change)="changeTimeLesson($event)" value ="1" name="lesson" id="e-36">
             <label class="edu-check-label" for="e-36">1 - 5 Lesson </label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="radio" (change)="changeTimeLesson($event)" value ="5" name="lesson" id="m-25">
             <label class="edu-check-label" for="m-25">6 - 10 Lesson</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="radio" (change)="changeTimeLesson($event)" value ="11" name="lesson" id="m-32">
             <label class="edu-check-label" for="m-32">11-15 Lesson</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="radio" (change)="changeTimeLesson($event)" value ="0"  name="lesson" id="m-11">
             <label class="edu-check-label" for="m-11">All</label>
          </div>
       </li>
    </ul>
 </div>