<app-headerfour></app-headerfour>
<app-breadcrumb breadcrumbTitle="Courses 02"  breadcrumbSubTitle="Courses"></app-breadcrumb>
<app-coursebar></app-coursebar>

 <!-- course-content-start -->
 <section class="course-content-area pb-90">
    <div class="container">
         <div class="row ">
               <div class="col-xl-3 col-lg-4 col-md-12">
                  <div class="course-sidebar-widget mb-20">
                     <app-shopcat></app-shopcat>
                  </div>
                  <div class="course-sidebar-widget mb-20">
                  <app-shoprating></app-shoprating>
                  </div>
                  <div class="course-sidebar-widget mb-20">
                     <app-shopprice></app-shopprice>
                  </div>
                  <div class="course-sidebar-widget mb-20">
                     <app-shoplevel></app-shoplevel>
                  </div>
                  <div class="course-sidebar-widget mb-20">
                     <app-shoplanguage></app-shoplanguage>
                  </div>
                  <div class="course-sidebar-widget mb-20">
                     <app-shopduration></app-shopduration>
                  </div>
               </div>    
                  <div class=" col-sm-9 .col-md-6 .col-lg-8 mg-3" >
                  <div style="display: flex; flex-direction: column;">
                     <div style="width: 100%; height: auto">
                        <div style="display: grid;
                              gap: 10px;
                              grid-template-columns: auto auto auto;">
                           <div *ngFor="let course of course_list">
                                             
                              <div class="protfolio-course-2-wrapper mb-30" >
                                 <div class="student-course-img" >
                                    <a [routerLink]="['/course-details']"><img style="width: 300px;height:200px;" [src]="course.img"
                                          alt="course-img"></a>
                                 </div>
                                 <div class="course-cart">
                                    <div class="course-info-wrapper">
                                       <div class="cart-info-body">
                                          <!-- <span class="category-color category-color-1"><a
                                                [routerLink]="['/course']">{{course.category}}</a></span> -->
                                          <a [routerLink]="['/course-details']">
                                             <h3>{{course.courseName}}</h3>
                                          </a>
                                          <div class="cart-lavel">
                                             <!-- <h5>Level : <span>{{course.level}}</span></h5> -->
                                             <p>{{course.description}}</p>
                                          </div>
                                          <div class="info-cart-text">
                                             <!-- <ul *ngFor="let skill of course.skills">
                                                <li><i class="far fa-check"></i>{{skill}}</li>
                                             </ul> -->
                                          </div>
                                          <div class="course-action">
                                             <a [routerLink]="['/course-details']" class="view-details-btn">View Details</a>
                                             <button class="wishlist-btn"><i class="flaticon-like"></i></button>
                                             <a [routerLink]="['/course-details']" class="c-share-btn"><i
                                                   class="flaticon-previous"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="portfolio-course-2-content">
                                    <div class="portfolio-course-wrapper">
                                       <!-- <div class="portfolio-price">
                                          <span>$12.57</span>
                                          <del>$24.50</del>
                                       </div> -->
                                       <div class="portfolio-course-2">
                                          <h3><a [routerLink]="['/course-details']">{{course.courseName}}</a></h3>
                                       </div>
                                       <div class="course-icon">
                                          <!-- <i class="fa-star" [ngClass]="course.starAVG > 0 ? 'fas' : 'fal'"></i>
                                          <i class="fa-star" [ngClass]="course.starAVG > 1 ? 'fas' : 'fal'"></i>
                                          <i class="fa-star" [ngClass]="course.starAVG > 2 ? 'fas' : 'fal'"></i>
                                          <i class="fa-star" [ngClass]="course.starAVG > 3 ? 'fas' : 'fal'"></i>
                                          <i class="fa-star" [ngClass]="course.starAVG > 4 ? 'fas' : 'fal'"></i> -->
                                          <span>(25)</span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="course-2-footer">
                                    <div class="coursee-clock">
                                       <i class="flaticon-clock"></i><span>{{course.courseTime}} Hours</span>
                                    </div>
                                    <!-- <div class="course-creadit">
                                       <i class="flaticon-menu-1"></i><span>8 Credit</span>
                                    </div>
                                    <div class="course-network">
                                       <i class="fal fa-signal mr-10"></i><span>Fresh</span>
                                    </div> -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="w-100">
                        <div *ngFor="let pageIndex of pages">
                           <button class="btn m-2" style="float: left;"
                               (click)="clickPage(pageIndex)"
                               [ngClass]="pageIndex==pageCurrent ? 'btn-secondary' : 'btn-primary'">{{pageIndex}}</button>
                       </div>
                     </div>
                  </div>
            </div>
         </div>   
      </div>
 </section>
 <!-- course-content-end -->

 <app-footerone></app-footerone>