<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card tab2-card">
                <div class="card-body">          
                    <div class="table-responsive profile-table">
                        <div *ngIf="!isAddRole">
                        <h4 style="font-weight: 600">Group Details</h4>
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{groupDetail.name}}</td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td>{{groupDetail.description}}</td>
                                </tr>                 
                            </tbody>
                        </table>
                       
                        <a class="btn btn-secondary mr-1 mb-3" (click)="goToAddRole()">Add Role</a>
                        </div>
                        <div *ngIf="isAddRole" class="col-xl-8">
                            <div class="card tab2-card">
                                <div class="card-body">
                                    <div class="dropdown">
                                        <input (keyup)="changeInputSearch($event)" [(ngModel)]="inputSearch" value="inputSearch" class="form-control"  />                        
                                        <div *ngFor="let role of list_role"  class="dropdown div-option">
                                            <label class="p-2" (click)="selectRole(role)">{{role.name}}</label>
                                        </div>
                                    </div>    
                                        <a class="btn btn-primary mr-1 mt-3" (click)="addRole()" >Submit</a>
                                        <a class="btn btn-secondary mr-1 mt-3" (click)="goToAddRole()">Back</a>
                                </div>         
                            </div>
                        </div> 
                        
                        <ng2-smart-table [settings]="settings" [source]="groupDetail.roles" 
                        (deleteConfirm)="onDeleteConfirm($event)"
                        (userRowSelect)="onRoleRowSelected($event)"
                        ></ng2-smart-table>
                                         
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->