<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Course details</h5>
        </div>
        <div class="card-body tab2-card">
            <ngb-tabset class="tab-coupon">
                <ngb-tab title="General">
                    <ng-template ngbTabContent>
                        <form [formGroup]="generalForm"  class="needs-validation" novalidate="">
                            <h4>General</h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                                             Image</label>
                                            <input class="form-control form-control-sm mb-2" id="formFileSm" name="img" formControlName="img" type="file"/>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                                            Course Name</label>
                                        <input class="form-control col-md-7" formControlName="courseName"
                                            id="validationCustom0" type="text" required="">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-md-4">Description</label>
                                            <textarea class="
                                            form-control
                                            digits
                                            col-xl-8 col-sm-7
                                        " style="max-width: 59%" name="description" formControlName="description"
                                        rows="4" cols="50">
                                    </textarea>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                            Category</label>
                                            <select class="form-control digits col-xl-8 col-sm-7"
                                            id="exampleFormControlSelect1" name="category" formControlName="category">
                                            <option>BUSINESS</option>
                                            <option>DEVELOPMENT</option>
                                            <option>DATA_SCIENCE</option>
                                            <option>DESIGN</option>
                                            <option>FINANCE</option>
                                            <option>MARKETING</option>
                                            <option>MANAGEMENT</option>
                                            <option>PHOTOGRAPHY</option>
                                            <option>MUSIC</option>
                                            <option>ACADEMIC</option>
                                            <option>NONE</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                            Level</label>
                                            <select class="form-control digits col-xl-8 col-sm-7"
                                            id="exampleFormControlSelect1" name="level" formControlName="level">
                                            <option>BEGINNER</option>
                                            <option>MIDDLE</option>
                                            <option>MASTER</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                            Skill</label>
                                        <input class="form-control col-md-7" formControlName="skill1"
                                            id="validationCustom1" type="text" required="">
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                            Skill</label>
                                        <input class="form-control col-md-7" formControlName="skill2"
                                            id="validationCustom1" type="text" required="">
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                            Skill</label>
                                        <input class="form-control col-md-7" formControlName="skill3"
                                            id="validationCustom1" type="text" required="">
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                            Skill</label>
                                        <input class="form-control col-md-7" formControlName="skill4"
                                            id="validationCustom1" type="text" required="">
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                            Skill</label>
                                        <input class="form-control col-md-7" formControlName="skill5"
                                            id="validationCustom1" type="text" required="">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </ngb-tab>
                
            </ngb-tabset>
            <div class="pull-right">
                <button type="button" class="btn btn-primary" (click)="saveCourse()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->