<div class="page-wrapper">
    <div class="container-fluid container">
        <div class="card p-3">
            <div class="card-header">
                <h5>Update Password</h5>
            </div>
            <form [formGroup]="generalForm" class="form-horizontal auth-form" novalidate="">
                <div class="form-group">
                    <input required="" name="password" formControlName="password" type="password"
                        class="form-control" placeholder="Password new"
                        id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <input required="" name="rePassword" type="password" formControlName="rePassword"
                        class="form-control" placeholder="password repeat">
                </div>
            </form>   
            <div class="pull-right">
                <button type="button" class="btn btn-primary"(click)="updatepassword()">Create</button>
            </div>
        </div>
    </div>
</div>