<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Status comment details</h5>
            <div class="table-responsive profile-table">
                <table class="table" style="min-width: 800px; width: auto; margin-inline: auto;">
                    <tbody class="w-100">
                        <tr>
                            <td>Course Name:</td>
                            <td>{{courseName}}</td>
                        </tr>
                        <tr>
                            <td>Display Name User:</td>
                            <td>{{displayName}}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>
                                <select (change)="onChange($event.target.value)" class="form-control digits col-xl-8 col-sm-7">
                                    <option value="PRIVATE" [selected]="status == 'PRIVATE'">PRIVATE</option>
                                    <option value="PUBLIC" [selected]="status == 'PUBLIC'">PUBLIC</option>
                                    <option value="BLOCKED" [selected]="status == 'BLOCKED'">BLOCKED</option>
                                </select>
                            </td>
                        </tr>
                       
                       
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image"></div>
                <div class="table-responsive">
                    <ng2-smart-table [settings]="settings" [source]="comments" ></ng2-smart-table>
                </div>
        </div>
    </div>
</div>