@import '../../../../custom-palettes.scss';
@import "~swiper/css/bundle";
@import '../../../../custom-palettes.scss';

.hero-arera.course-item-height {
	z-index: 0;
}
.course-detalis-area {
	z-index: inherit;
}
.comment-title h3 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 5px;
}
.comment-title p {
	color: #454545;
}
.comment-rating span {
	font-size: 15px;
	color: #454545;
	margin-right: 5px;
}
.comment-rating ul li {
	display: inline-block;
}
.comment-rating ul li a {
	font-size: 14px;
	color: $theme-color-2;
}
.comment-rating ul {
	display: inline-block;
}
.comment-agree input {
	margin: 0;
	appearance: none;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: transparent;
	border: 2px solid $border;
	border-radius: 2px;
	outline: none;
}
.comment-agree label {
	margin-left: 5px;
	font-size: 15px;
	color: #454545;
}
.comment-agree input::placeholder {
	color: $body-text;
	font-size: 14px;
	opacity: 1;
}
.comment-input input {
	height: 60px;
	width: 100%;
	background: #f8f8f9;
	border: none;
	padding: 15px 20px;
	border-radius: 4px;
	outline: 0;
}
.comment-input input::placeholder {
	color: $body-text;
	font-size: 14px;
	opacity: 1;
}
.comment-textarea {
	height: 170px;
	width: 100%;
	background: #f8f8f9;
	border: none;
	padding: 15px 20px;
	border-radius: 4px;
	resize: none;
	outline: 0;
}
.comment-textarea::placeholder {
	color: $body-text;
	font-size: 14px;
	opacity: 1;
}
.category-shap-01 {
	position: absolute;
	top: -28%;
	left: -5%;
}
.category-shap-02 {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	@media #{$xxxl,$xxl,$xl} {
		right: 0;
	}
	@media #{$lg,$md,$sm,$xs} {
		display: none;
	}
}
.category-button-prev {
	width: 45px;
	height: 45px;
	border: 1px solid $border;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	background: $white;
	position: absolute;
	top: 46%;
	transform: translate(-50%, -50%);
	z-index: 2;
	left: 0;
	transition: 0.3s;
    cursor: pointer;
	@media #{$xs} {
		transform: translate(-25%, -50%);
	}
	&:hover {
		border-color: $theme-color;
		background: $theme-color;
		color: $white;
	}
}
.category-button-next {
	width: 45px;
	height: 45px;
	border: 1px solid $border;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	background: $white;
	position: absolute;
	top: 46%;
	transform: translate(50%, -50%);
	z-index: 2;
	right: 0;
	transition: 0.3s;
    cursor: pointer;
	@media #{$xs} {
		transform: translate(25%, -50%);
	}
	&:hover {
		border-color: $theme-color;
		background: $theme-color;
		color: $white;
	}
}

.categories-area {
	background-color: $theme-bg;
}
.categories-wrapper {
	padding: 37px 20px 15px 20px;
	background: $white;
	box-shadow: 0px 20px 30px rgba(24, 44, 74, 0.05);
	border-radius: 10px;
}
.categiories-thumb {
	transition: 0.3s;
	svg {
		margin-bottom: 30px;
	}
}
.categories-wrapper:hover .categiories-thumb {
	transform: translateY(-10px);
}
.categories-content {
	h4 {
		margin-bottom: 5px;
	}
	p {
		font-weight: 600;
		@media #{$xxxl} {
			font-size: 15px;
		}
	}
}