<app-headerfour></app-headerfour>

<app-breadcrumb breadcrumbTitle="Courses"  breadcrumbSubTitle="MySQL Database : Beginner SQL Database Design"></app-breadcrumb>

<!-- course-details-area-start -->
<section class="course-detalis-area pb-90">
    <div class="container">
        <div class="row">
            <div class=" col-xxl-8 col-xl-8">
                <div class="course-detalis-wrapper mb-30">
                    <div class="course-heading mb-20">
                        <h2>MySQL Database : Beginner SQL Database Design</h2>
                        <div class="course-star">
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <ul>
                                <li><i class="fal fa-star"></i></li>
                            </ul>
                            <span>(254 reviews)</span>
                        </div>
                    </div>
                    <div class="course-detelis-meta">
                        <div class="course-meta-wrapper border-line-meta">
                            <div class="course-meta-img">
                                <a [routerLink]="['/instructor-profile']"><img src="{{courseDetail.img}}"
                                        alt="course-meta"></a>
                            </div>
                            <div class="course-meta-text">
                                <span>Created by</span>
                                <h6><a [routerLink]="['/instructor-profile']">{{courseDetail.createdBy}}</a></h6>
                            </div>
                        </div>
                        <div class="course-Enroll border-line-meta">
                            <p>Total Rating</p>
                            <span>{{courseDetail.totalRating}}</span>
                        </div>
                        <div class="course-update border-line-meta">
                            <p>Last Update</p>
                            <span></span>
                        </div>
                        <div class="course-category">
                            <p>01 January 2022 </p>
                            <span><a [routerLink]="['/course']">Data Science</a></span>
                        </div>
                    </div>
                    <div class="course-description pt-45 pb-30">
                        <div class="course-Description">
                            <h4>Description</h4>
                        </div>
                        <p>{{courseDetail.description}}</p>
                    </div>
                    <div class="course-learn-wrapper">
                        <div class="course-learn">
                            <div class="course-leranm-tittle">
                                <h4 class="mb-15">Skills and knowledge required</h4>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="course-leran-text f-left">
                                        <ul>
                                            <li>{{courseDetail.skill1}}</li>
                                            <li>{{courseDetail.skill2}}</li>
                                            <li>{{courseDetail.skill3}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="course-leran-text">
                                        <ul>
                                            <li>{{courseDetail.skill4}}</li>
                                            <li>{{courseDetail.skill5}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-requirements pt-45">
                        <h4>Requirements</h4>
                        <div class="course-requirements-text">
                            <ul>
                                <li>• High School Mathematics Level</li>
                                <li>• Basic Python Knowledge Required</li>
                                <li>• Broadband Internet</li>
                            </ul>
                        </div>
                    </div>
                    <div class="course-curriculum pt-40 pb-50">
                        <div class="course-curriculam">
                            <h4>Curriculum</h4>
                        </div>
                        <ul>
                            <li>15 lectures • 2h 29m 12s total length</li>
                        </ul>
                        <app-coursecurriculam></app-coursecurriculam>
                    </div>
                    <app-courseinstructor></app-courseinstructor>
                    <app-studentfeedback></app-studentfeedback>
                    <app-coursereview></app-coursereview>
                    <div class="col-xl-12">
                        <div class="course-review-btn">
                            <a id="show-review-box" class="edu-btn" href="javascript:void(0)" (click)=writeReview()>Write a Review</a>

                            <div id="review-box" class="review-comment mt-45" [class.d-block]="writeReviewActive">
                               <div class="comment-input-box mb-15">
                                    <form [formGroup]="formComment" action="comment" >
                                        <div class="row">
                                            <div class="col-xxl-12">
                                                <textarea placeholder="Your review"
                                                    class="comment-input comment-textarea mb-20" name ="comment"></textarea>
                                            </div>
                                            <div class="col-xxl-12">
                                                <div class="comment-submit">
                                                    <button type="submit" class="edu-btn">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-8 col-md-8">
                <app-coursevideo></app-coursevideo>
            </div>
        </div>
    </div>
</section>

<app-footerone></app-footerone>